.content {
    width: 90%;
    margin: auto;
}

.dashboard-content {
    padding: 0 20px 0 15px;
}

.content-title {
    color: #114f5a;
    font-size: 20px;
    font-weight: 700;
    font-weight: 700;
    padding: 0 0 0 10px;
    margin-bottom: 10px;
    width: 100%;
}

.box-short-profile {
    transition-property: max-content;
    transition-duration: 0.4s;
}

.photo {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: top;
    background-size: cover;
    margin: auto;
    margin-top: 30px;
    object-fit: cover;
}
.col-9.m-auto.line {
    margin-bottom: 20px;
}

.name {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 0 0;
    text-align: center;
}
.nis {
    font-size: 16px;
    text-align: center;
}

.identity {
    margin-bottom: 20px;
}

.identity h5 {
    font-weight: bold;
    font-size: 14px;
}
.identity p {
    font-weight: 400;
    font-size: 12px;
}

.status-card {
    background-color: #114f5a;
    color: #fff;
    width: max-content;
    border-radius: 5px;
}
.status-card p {
    margin-left: 5px;
    margin-right: 5px;
}

hr {
    color: #fff;
}

.announ {
    background-color: #c49450;
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
}
.service {
    background-color: #fff;
    width: 100%;
    height: max-content;
    padding-bottom: 20px;
}

.title-service h2 {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.item-service {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
}
.item-service:hover {
    background-color: #114f5a;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .content {
        width: 100%;
    }

    .user-information {
        margin-bottom: 10px;
        margin-top: 50px !important;
    }

    .content-title {
        position: absolute;
        transform: translateY(-180px);
        /* transform: translateY(-395px); */
    }

    .dashboard-content {
        padding: 0 0 0 0;
    }

    .short-profile {
        display: flex;
        cursor: pointer;
    }

    .photo {
        width: 80px;
        height: 80px;
        margin: 20px 20px 10px 40px;
    }

    .item-short-profile {
        display: block;
    }

    .name {
        color: black;
        font-size: 22px;
        font-weight: bold;
        margin: 20px 0 0 0;
    }
    .nis {
        font-size: 18px;
    }

    .profile-item {
        overflow: hidden;
        display: none;
    }
    .col-9.m-auto.line {
        overflow: hidden;
        display: none;
    }

    .col-md-3 {
        padding: 0;
        margin-top: 15px;
    }
    .item-service {
        display: flex;
        height: fit-content;
        width: 100%;
        padding: 0 10px 0 10px;
    }
    .icon {
        margin: 0;
        width: 60px;
    }
    .title-item-service h4 {
        margin: 0 0 0 10px;
    }
}
