.content {
    padding: 150px;
    margin: 0;
    box-sizing: border-box;
}
.login-card {
    height: 400px;
    background: rgb(12, 127, 147);
    background: linear-gradient(
        115deg,
        rgba(12, 127, 147, 1) 60%,
        rgba(32, 112, 126, 1) 100%
    );
    color: white;
}
.logo img {
    height: 80px;
}
.login-photo {
    background-size: cover;
    background-position: center;
    height: 400px;
    border-radius: 15px 0 0 15px;
}
.login-form {
    padding: 20px;
}
.input-box {
    border-bottom: 2px solid white;
    margin-bottom: 5px;
    margin-top: 5px;
}
.input-box label {
    position: relative;
}

.input-box input {
    background: transparent;
    outline: none;
    border: none;
    height: 30px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    width: 100%;
}
.input-box input:focus {
    color: #ffffff;
    background: transparent !important;
    outline: none;
    border: none;
}

.title {
    color: white;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    body {
        background: rgb(12, 127, 147);
        background: linear-gradient(
            115deg,
            rgba(12, 127, 147, 1) 100%,
            rgba(32, 112, 126, 1) 100%
        );
    }
    .content {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background: transparent;
    }
    .login-photo {
        position: absolute;
        visibility: hidden;
    }
    .login-card {
        height: 100%;
        border-radius: 0% !important;
        box-shadow: none !important;
        background: transparent;
    }
    .logo {
        height: 100px;
        display: flex;
        justify-content: center;
    }
    .logo img {
        height: 120px;
    }
    form {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .input-box {
        border-bottom: 2px solid white;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .title {
        color: white;
        margin-bottom: 10px;
        font-size: 30px !important;
    }
    .input-box label {
        position: relative;
        font-size: 18px;
    }
    .input-box input {
        font-size: 14px;
        font-weight: 300;
    }

    /* navbar */
    .navbar-brand img {
        width: 130px;
    }
    /* navbar */

    .btn-long {
        background-color: #114f5a;
        border-radius: 20px;
        width: 80px;
        font-size: 10px;
        color: #fff;
    }
    .btn-long:hover {
        background-color: #c49450;
        border-radius: 20px;
        width: 80px;
        font-size: 10px;
        color: #fff;
    }

    .btn-circle {
        background-color: #114f5a;
        border-radius: 100%;
        color: #fff;
        width: 27px;
        height: 27px;
        font-size: 10px;
        align-items: center;
    }
    .btn-circle:hover {
        width: 27px;
        height: 27px;
        font-size: 10px;
        align-items: center;
        background-color: #c49450;
        border-radius: 100%;
        color: #fff;
    }
    .footer {
        visibility: hidden;
    }
}
